@import "common";

/* header */
header {
    width: 100%;
    text-align: center;

    #header-logo {
        height: 12rem;

        .custom-logo-link .custom-logo {
            height: 100%;
            width: auto;
        }
    }
}

/* navigation */
nav {
    position: sticky;
    top: 0;

    .nav-wrapper {
        display: flex;
        justify-content: space-evenly;

        #searchform .input-field .label-icon {
            /* adjust search icon */
            top: -.64rem;
        }

        .dropdown-button {
            width: 12rem;
        }
    }
}

// main {
//     // width: 900px;
//     padding: 0 20px;
//     margin: auto;

// }

// #post-list {
//     h1 {
//         padding: 1rem;
//         font-size: 3.2rem;
//         border-left: 3px solid red;
//     }

//     .container {
//         // width: 60rem;
//         // display: flex;
//         // flex-wrap: wrap;

//         .item {
//             padding: 1rem;

//             text-align: center;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;

//             .post-image {
//                 height: 15rem;
//                 width: auto;
//             }

//             .post-title {
//                 h2 {
//                     font-size: 3.6rem;
//                 }
//             }

//             .post-meta {
//                 text-align: right;
//             }

//             .excerpt {
//                 font-size: 1.2rem;
//                 text-align: left;
//             }
//         }

//         .pagination {
//             width: 100%;

//             .screen-reader-text {
//                 clip: rect(1px, 1px, 1px, 1px);
//                 height: 1px;
//                 overflow: hidden;
//                 position: absolute !important;
//                 width: 1px;
//                 word-wrap: normal !important;
//             }

//             .nav-links {
//                 height: 4rem;
//                 font-size: 1.2rem;
//                 text-align: center;

//                 .page-numbers {
//                     padding: 1rem;
//                     border: 1px solid black;
//                     border-radius: 10%;
//                 }

//                 .current {
//                     background-color: gray;
//                 }
//             }
//         }
//     }

// }

// .post-image {
//     img {
//         height: 15rem;
//         width: auto;
//     }
// }

// .single {
//     h2 {
//         color: red;
//     }

//     h3 {
//         color: green;
//     }

//     h4 {
//         color: blue;
//     }
// }

// .pagination-box {
//     margin: 1rem auto;
// }

.material-icons {
    vertical-align: middle;
}