@import "pc/common";
@import "pc/post-list";


/* header */
header {
    width: 100%;
    text-align: center;

    #header-logo {
        height: 8rem;

        .custom-logo-link .custom-logo {
            width: auto;
            height: 100%;
        }
    }
}

/* navigation */
nav {
    position: sticky;
    top: 0;

    .nav-wrapper {
        display: flex;
        justify-content: space-evenly;

        #searchform .input-field .label-icon {
            /* adjust search icon */
            top: -0.64rem;
        }

        .dropdown-button {
            width: 12rem;
        }
    }
}

#slide-out {
    .side-cat-menu {
        span {
            padding: 0 32px;
            margin-left: 32px;
            font-weight: bold;
        }
    }
}

// main {
//     // width: 900px;
//     padding: 0 20px;
//     margin: auto;

// }

// .post-image {
//     img {
//         height: 15rem;
//         width: auto;
//     }
// }

// .single {
//     h2 {
//         color: red;
//     }

//     h3 {
//         color: green;
//     }

//     h4 {
//         color: blue;
//     }
// }

// .pagination-box {
//     margin: 1rem auto;
// }

.material-icons {
    vertical-align: middle;
}

@import "sp/main-sp";