html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
  padding: 1rem;
  border-left: 3px solid red;
}

h2 {
  font-size: 2.4rem;
}

a,
button,
h3,
i,
input,
p,
span,
.btn {
  font-size: 1.6rem;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

/* custom of materialize css */
.material-icons {
  vertical-align: middle;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  font-size: 1.6rem;
}

/* header */
header {
  width: 100%;
  text-align: center;
}

header #header-logo {
  height: 8rem;
}

header #header-logo .custom-logo-link .custom-logo {
  width: auto;
  height: 100%;
}

/* navigation */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .nav-wrapper * {
  font-size: 1.6rem;
}

nav .nav-wrapper #searchform {
  width: 20rem;
}

nav .nav-wrapper #searchform .input-field .label-icon {
  /* adjust search icon */
  top: -0.64rem;
}

nav .nav-wrapper .dropdown-button {
  width: 20rem;
  padding: 0;
  font-size: 1.6rem;
}

#slide-out .side-cat-menu span {
  margin-left: 3.2rem;
  line-height: 4.8rem;
}

/* style of article list */
.article-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.article-list-container .article-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;
  background-color: #ccf7ff;
  border-radius: 1rem;
}

.article-list-container .article-list-item .post-image {
  display: block;
  background-color: #fff;
  border-radius: 1rem;
}

.article-list-container .article-list-item .post-title h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.article-list-container .article-list-item .post-meta {
  text-align: right;
}

.article-list-container .article-list-item .post-meta a,
.article-list-container .article-list-item .post-meta p {
  font-size: 1.2rem;
}

.article-list-container .article-list-item .excerpt {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

/* style of pagination */
.pagination-box .pagination {
  margin: 1rem auto;
  text-align: center;
}

.pagination-box .pagination .screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
}

.pagination-box .pagination .nav-links {
  height: 4rem;
  font-size: 1.2rem;
  text-align: center;
}

.pagination-box .pagination .nav-links .page-numbers {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10%;
}

.pagination-box .pagination .nav-links .current {
  background-color: gray;
}

@media screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  img {
    height: auto;
  }
  section {
    max-width: 300px;
  }
  .article-list-container .article-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 2rem;
    margin: 1rem auto;
    text-align: center;
    background-color: #ccf7ff;
    border-radius: 1rem;
  }
  .article-list-container .article-list-item .post-image {
    background-color: #fff;
    border-radius: 1rem;
  }
  .article-list-container .article-list-item .post-title h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .article-list-container .article-list-item .post-meta {
    text-align: right;
  }
  .article-list-container .article-list-item .excerpt {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
  }
  .pagination-box .pagination {
    margin: 1rem auto;
    text-align: center;
  }
  .pagination-box .pagination .screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
  }
  .pagination-box .pagination .nav-links {
    height: 4rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .pagination-box .pagination .nav-links .page-numbers {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10%;
  }
  .pagination-box .pagination .nav-links .current {
    background-color: gray;
  }
}
/*# sourceMappingURL=stylesheet.css.map */