html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.2rem;
    padding: 1rem;
    border-left: 3px solid red;
}

h2 {
    font-size: 2.4rem;
}

a,
button,
h3,
i,
input,
p,
span,
.btn {
    font-size: 1.6rem;
}

section {
    max-width: 1024px;
    margin: 0 auto;
}

/* custom of materialize css */
.material-icons {
    vertical-align: middle;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    font-size: 1.6rem;
}